#### Tools

In [1]:
import pandas as pd

# Moving by Data
## A data driven district similarity analysis

## Introduction

### The problem:

I've been living in the Ciutat Vella (Old Town) district in Barcelona for the past 6 years and I've decided to move to Paris by the end of the year.
Ciutat Vella is one of the most traditional districts in Barcelona and what makes me like to live here is the diversity of activities that the district offers among museums, restaurants, bars, cafes, galleries and shops. You candefinetly find anything you want in a maximum of 10 or 15 minutes walking.
Even though the acitivities aspect of the district attracts me a lot, Iwould also consider living in a less dense place with less people living and more open spaces.
So the main question is, using data, how to choose among the 22 districts in Paris which one would suite more my needings.

### The methodology:
Using the data of districts of Barcelona and Paris from *Wikipedia* and the Foursquare API data, the idea is to Cluster Barcelona Districts and fit the districts of Paris in the same model finding similar clusters. Once all districts are labeled understand which one offers the best balance between activities diversity and population density among them.

### The data:
- <a href="https://es.wikipedia.org/wiki/Distritos_de_Barcelona">Districts of Barcelona</a>
- <a href="https://es.wikipedia.org/wiki/Distritos_de_Par%C3%ADs">Districts of Paris</a>
- Foursquare venues from Barcelona
- Foursquare venues from Paris

### Districts of Barcelona

In [2]:
dfBCN = pd.read_csv('./data/barcelona_districts.csv')
dfBCN.head()

   code                 name   area population
0     1         Ciutat Vella   4,11    103 429
1     2             Eixample   7,46    265 910
2     3       Sants-Montjuïc  22,68    184 091
3     4            Les Corts   6,02     81 974
4     5  Sarrià-Sant Gervasi  19,91    149 260

### Districts of Paris

In [3]:
dfParis = pd.read_csv('./data/paris_districts.csv')
dfParis.head()

               code            name  area population
0    I distrito (D)          Louvre  1826     16 888
1   II distrito (D)          Bourse   992     19 585
2  III distrito (D)          Temple  1171     34 248
3   IV distrito (D)  Hôtel-de-Ville  1601     30 675
4    V distrito (I)        Panthéon  2541     58 849